.instructors-give-sections {
  &-page-title {
    font-weight: 700;
  }
  &-card-header {
    display: flex;
    font-size: 1.3rem;
    line-height: 4rem;
    background-color: #fcfcfc;
    height: 4rem;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
  }
  &-buttons {
    button {
      margin-left: 10px;
    }
  }
}
