.students-take-sections-table {
  &--th-center {
    text-align: center;
  }
  &--td-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__edit-button {
    cursor: pointer;
  }
  &__actions {
    display: flex;
    justify-content: space-evenly;
  }
}
